/Ejercicio4_14/JavaApplication1/nbproject/private/
/Ejercicio4_14/JavaApplication1/build/
/Nueva Carpeta/JavaApplication1/nbproject/private/
/Nueva Carpeta/JavaApplication1/build/
/.metadata/
/proyectoNetbeans/JavaApplication1/nbproject/private/
/proyectoNetbeans/JavaApplication1/build/
/proyectoNetbeans/CrearRombro/nbproject/private/
/proyectoNetbeans/CrearRombro/build/
/proyectoNetbeans/examenProgramacionGabrielMedinaTorres/nbproject/private/
/proyectoNetbeans/examenProgramacionGabrielMedinaTorres/build/
/proyectoNetbeans/miaplicacion/nbproject/private/
